.goodsWrapper {
  display: grid;
  grid-template-columns: 1fr 600px;
  padding: 30px 100px 30px 100px;
  justify-items: center;

  & > :nth-child(2) {
    & > div {
      border: 1px solid black;
      border-radius: 50px;
      padding: 10px 40px 10px 40px;
      margin-bottom: 30px;
      text-align: center;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
      box-shadow: 0px 0px 15px 0px rgba(255, 0, 255, 1);
      gap: 20px;
      & > div {
        margin: 0;
      }
    }
  }
}
